body {
    font-family: 'Outfit', sans-serif;
  }
  
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
  
  .navbar {
    min-height: 30px; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* Adding the background*/
    background-image: url('../svg/nav_texture.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

  .logo {
    width: clamp(4px, 20vw, 160px);
    height: auto;
    max-width: 200px;
  }
  
  .nvbar-logo-name {
    color: #500;
    font-family: 'Playfair Display', serif;
    font-size: clamp(4px, 3vw, 25px);
    font-weight: 700;
    line-height: normal;
  }

  .nvbar-font {
    color: #000;
    font-family: 'Outfit', sans-serif;
    font-size: clamp(4px, 3vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .contact-button {
    fill: #500;
    width: clamp(4px, 20vw, 160px);
    height: auto;
    flex-shrink: 0;
  }

  .number {
    color: #500;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: clamp(4px, 3vw, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
  }
  
  .phone_icon {
    width: clamp(4px, 20vw, 30px);
    height: auto;
    max-width: 40px;
    margin-right: 0.5rem;
  }
  